.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  margin: 0 30px;

  @media (min-width: 1280px) {
    margin: 0 auto;
    max-width: 1220px;
  }
}
